[submodule "examples/3rdParty/json"]
	path = examples/3rdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "examples/3rdParty/fmt"]
	path = examples/3rdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "examples/3rdParty/glfw"]
	path = examples/3rdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "examples/3rdParty/miniaudio"]
	path = examples/3rdParty/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "examples/3rdParty/imgui/upstream"]
	path = examples/3rdParty/imgui/upstream
	url = https://github.com/ocornut/imgui.git
[submodule "examples/3rdParty/filedialog"]
	path = examples/3rdParty/filedialog
	url = https://github.com/samhocevar/portable-file-dialogs.git
